// Body
$body-bg: rgba(246, 247, 242, 1);

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color
$theme-colors: (
    "orange-primary": rgba(252, 172, 70, 1),
    "orange-secondary": rgba(243, 79, 29, 1),
    "black-primary": rgba(21, 21, 21, 1),
    "black-secondary": rgba(106, 106, 106, 1),
    "gray-900": rgba(23, 28, 38, 1),
    "gray-300": rgba(161, 169, 184, 1),
);
